html {
  background: linear-gradient(#60c2a5, #2e2b35) fixed !important;
  background-size: cover !important;
  height: 100% !important;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.logo-image {
  padding-right: 2%;
  padding-left: 5%;
  padding-top: 10%;
  margin-bottom: 0px;
}

<<<<<<< HEAD
.control {
  margin-bottom: 12px; 
}

.input,
.button,
#symptomseverity {
  border: 2px solid #2e2b35;
  height: 40px;
}

#symptomcontainer,
#signupcontainer,
#signincontainer,
#addcontainer,
#foodcontainer,
#drinkcontainer {
  margin-top: 40%
}

#add,
#search {
=======
#add,
#search, #home {
>>>>>>> 519a3a80926fc394e20833606955e924cd0882a3
  height: 100px;
  width: 100px;
  display: block;
  background-color: #a0ffc9;
  border: 2px solid #2e2b35;
  padding-top: 2px;
  font-size: 18px;
  font-weight: bold;
}

<<<<<<< HEAD
#symptomseverity {
=======
#symptomseverity2 {
>>>>>>> 519a3a80926fc394e20833606955e924cd0882a3
  width: 200px;
}

.addButtons,
<<<<<<< HEAD
#symptomadd,
#signupsubmit,
#signupbutton,
#foodadd,
#drinkadd {
=======
#symptomadd {
>>>>>>> 519a3a80926fc394e20833606955e924cd0882a3
  background-color: #ed6d73;
  font-weight: bold;
  font-size: 18px;
  border: 2px solid #2e2b35;
  width: 200px;
}

#icon {
  margin: 0;
}

.fa-plus-square,
<<<<<<< HEAD
.fa-search {
=======
.fa-search, .fa-home {
>>>>>>> 519a3a80926fc394e20833606955e924cd0882a3
  font-size: 45px;
  margin-top: 15px;
}

.fa-notes-medical {
  font-size: 50px;
<<<<<<< HEAD
=======
}

#addcontainer {
  margin-top: 50%;
>>>>>>> 519a3a80926fc394e20833606955e924cd0882a3
}

#symptomtext {
  width: 200px;
}

<<<<<<< HEAD
#symptomtext::placeholder, 
#firstname::placeholder, 
#lastname::placeholder, 
#email::placeholder, 
#password::placeholder,
#signinemail::placeholder,
#signinpassword::placeholder,
#foodtext::placeholder,
#drinktext::placeholder {
=======
#symptomtext::placeholder {
>>>>>>> 519a3a80926fc394e20833606955e924cd0882a3
  text-align: center;
  color: #60c2a5;
}

#signin {
  background-color: #ed6d73;
  border: 2px solid #2e2b35;
  font-size: 18px;
  font-weight: bold;
}

<<<<<<< HEAD
#centerfix {
  text-align: center;
}

#marginfix {
  margin: 0; 
  box-sizing: unset;
}

=======
>>>>>>> 519a3a80926fc394e20833606955e924cd0882a3
.buttons #add:hover,
.buttons #search:hover {
  background-color: #2e2b35;
  border: 2px solid #60c2a5;
  color: #60c2a5;
}

#signin:hover,
.addButtons:hover,
<<<<<<< HEAD
#symptomadd:hover,
#signupsubmit:hover,
#signupbutton:hover,
#foodadd:hover,
#drinkadd:hover {
=======
#symptomadd:hover {
>>>>>>> 519a3a80926fc394e20833606955e924cd0882a3
  background-color: #2e2b35;
  border: 2px solid #ed6d73;
  color: #ed6d73;
}

.buttons #add:active,
.buttons #search:active {
  background-color: #2e2b35;
  border: 2px solid #60c2a5;
  color: #60c2a5;
}

#signin:active,
.addButtons:active,
<<<<<<< HEAD
#symptomadd:active,
#signupsubmit:active,
#signupbutton:active,
#foodadd:active,
#drinkadd:active {
=======
#symptomadd:active {
>>>>>>> 519a3a80926fc394e20833606955e924cd0882a3
  background-color: #2e2b35;
  border: 2px solid #ed6d73;
  color: #ed6d73;
}
<<<<<<< HEAD

@media only screen and (min-width: 1050px) {
  .logo-image {
    padding-top: 0;
    margin-bottom: 0 !important; 
  }
  
  #mainimage {
    width: 40%; 
  }

  #symptomcontainer,
  #signupcontainer,
  #signincontainer,
  #addcontainer,
  #foodcontainer,
  #drinkcontainer {
    margin-top: 10%
  }
}
=======
>>>>>>> 519a3a80926fc394e20833606955e924cd0882a3
