html {
  background: linear-gradient(#60C2A5, #2e2b35) fixed;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

.logo-image {
  padding-right: 2%;
  padding-left: 5%;
  padding-top: 10%;
  margin-bottom: 0px;
}

#add, #search {
  height: 100px;
  width: 100px; 
  display: block;
  background-color: #a0ffc9;
  border: 2px solid #2e2b35; 
  padding-top: 2px;
  font-size: 18px;
  font-weight: bold;
}

#icon {
  margin:0; 
}

.fa-plus-square, .fa-search {
  font-size: 45px; 
  margin-top: 15px;
}

#signin {
  background-color: #ed6d73; 
  border: 2px solid #2e2b35; 
  font-size: 18px;
  font-weight: bold;
}

.buttons #add:hover, .buttons #search:hover {
  background-color: #2e2b35;
  border: 2px solid #60C2A5;
  color: #60C2A5;
}

#signin:hover {
  background-color: #2e2b35;
  border: 2px solid #ed6d73;
  color: #ed6d73;
}

.buttons #add:active, .buttons #search:active {
  background-color: #2e2b35;
  border: 2px solid #60C2A5;
  color: #60C2A5;
}

#signin:active {
  background-color: #2e2b35;
  border: 2px solid #ed6d73;
  color: #ed6d73;
}

/* .button:hover {
} */